.modal-window-fp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-fp__scale-cont {
    position: relative;
    width: 923px;
    height: 736px;
}

.modal-window-fp__fields {
    position: absolute;
    resize: none;
    border: #E6C8FF;
    font-family: 'Bronzier', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 629px;
    height: 25px;
    left: 143px;
    font-size: 28px;
    outline: none;
    color: #E6C8FF;
    background: rgba(0,0,0,0);
    box-shadow: none;
    z-index: 10;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .modal-window-fp__fields {
        height: 45px;
    }
  }

.modal-window-fp__name {
    top: 187px;

}

.modal-window-fp__phone {
    top: 411px;

}

.modal-window-fp__email {
    top: 520px;

}

.modal-window-fp__pass {
    top: 299px;
    font-size: 32px;
}

.modal-window-fp__close {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    left: 812px;
    top: 62px;
    z-index: 10;
}

.modal-window-fp__submit {
    position: absolute;
    cursor: pointer;
    width: 709px;
    height: 86px;
    top: 598px;
    left: 106px;
    z-index: 10;
}

.modal-window-fp__back {
    position: absolute;
    width: 923px;
    height: 736px;
    left: 0;
}