.modal-window-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-info__scale-cont {
    position: relative;
    transform-origin: 50% 20vh;
    width: 1117px;
    height: 740px;
}

.modal-window-info__text {
    position: absolute;
    width: 220px;
    left: 362px;
    align-items: center;
    text-align: center;
    font-family: 'Bronzier', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: normal;
    text-shadow: 2px 3px 0 #1F1A2B;
    background: linear-gradient(
            to bottom, #FFE15E, #BF8633);
    /*-webkit-text-fill-color: transparent;*/
    -webkit-background-clip: text;

    height: 29px;
    font-size: 30px;
    color: #ECC946;
    white-space: normal;
    z-index: 100;
}

.modal-window-info__avatar_ok {
    left: 743px;
    top: 202px;
    width: 261px;
    height: 128px;
    position: absolute;
    z-index: 50;
}

.modal-window-info__avatar {
    cursor: pointer;
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 115px;
    top: 202px;
}

.modal-window-info__user {
    top: 273px;
}

.modal-window-info__pass {
    top: 431px;
}

.modal-window-info__phone {
    top: 581px;
}

.modal-window-info__change {
    top: 508px;
}

.modal-window-info__del {
    position: absolute;
    cursor: pointer;
    width: 274px;
    height: 122px;
    z-index: 10;
    left: 736px;
    top: 507px;
}
.modal-window-info__done {
    top: 348px;
}

.modal-window-info__yes {
    left: 424px;
}

.modal-window-info__no {
    left: 882px;
}

.modal-window-info__popup-cont {
    position: absolute;
    z-index: 1000;
    top: -22px;
    left: -272px;
}

.modal-window-info__close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 998px;
    top: 74px;
    z-index: 10;
}

.modal-window-info-popup__btn {
    position: absolute;
    cursor: pointer;
    width: 359px;
    height: 203px;
    top: 427px;
    z-index: 10;
}

.modal-window-info__btn {
    position: absolute;
    cursor: pointer;
    width: 261px;
    height: 128px;
    z-index: 10;
    left: 743px;
}

.modal-window-info_text {
    position: absolute;
    left: 259px;
    top: 184px;
}

.modal-window-info__back {
    position: absolute;
    width: 1117px;
    height: 740px;
    left: 0;
}