.modal-window-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-news__scale-cont {
    position: relative;
    width: 1600px;
    box-sizing: border-box;
    transition: transform 0.3s;
    transform: scale(0);
}

.modal-window-news__scale-cont .slick-list {
    border: 10px solid #ecdc82;
    border-radius: 80px;
}

.modal-window-news__scale-cont .slick-slider .slick-dots {
    bottom: 60px;
}

.modal-window-news__scale-cont .slick-slider .slick-dots li {
    margin: 0 20px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    height: 38px;
    width: 38px;
    padding: 4px;
    box-sizing: border-box;
}

.modal-window-news__scale-cont .slick-slider .slick-dots li.slick-active button::before {
    background-image: linear-gradient(0deg, #00e700 0%, #00e700 47%, #54ee54 56%, #54ee54 100%);
    filter: drop-shadow(0px 1px 5px #061725);
}

.modal-window-news__scale-cont .slick-slider .slick-dots li button::before {
    bottom: 40px;
    height: 26px;
    width: 26px;
    left: 2px;
    top: 2px;
    background-color: red;
    content: '';
    border-radius: 50%;
    background-color: #1e0928;
}

.modal-window-news__close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: 50px;
    top: 50px;
    z-index: 10;
}

.carousel__image {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    position: relative;
}

.carousel__image img.carousel__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fb_button {
    position: absolute;
    left: 8%;
    bottom: 50px;
    z-index: 10;
    top: 72%;
    transform: scale(0.8);
    cursor: pointer;
}

.reg_button {
    position: absolute;
    right: 19%;
    bottom: 50px;
    z-index: 10;
    top: 72%;
    cursor: pointer;
}