.modal-window-newwebsite {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window-newwebsite__scale-cont {
    position: absolute;
    width: 1269px;
}

.modal-window-newwebsite__img {
    width: 100%;
}

.modal-window-newwebsite__text {
    position: absolute;
    font-size: 72px;
    color: white;
    text-decoration: none;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);

    font-family: "Bronzier";
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.modal-window-newwebsite__close_btn {
    position: absolute;
    right: 175px;
    top: 140px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}